section#defi-integration {
    background-color: #000;
}

section#defi-integration .container h1 {
    padding: 0;
}

section#defi-integration .container .container-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.5rem;
}

section#defi-integration .container .container-header .btn {
    background-color: #161A22;
    display: inline-flex;
    align-items: center;
    max-width: 194px;
    max-height: 56px;
    border-radius: 0;
    gap: 1rem;
    font-size: 17px;
}
section#defi-integration .vertical-timeline::before {
    background: unset;
}

section#defi-integration .vertical-timeline .vertical-timeline-element {
    margin: 0;
    margin-bottom: 1rem;
}

section#defi-integration .vertical-timeline .vertical-timeline-element .vertical-timeline-element-content {
    padding: 0;
    width: 40%;
    box-shadow: unset;
}

section#defi-integration .vertical-timeline .vertical-timeline-element .vertical-timeline-element-content .content-title {
    padding-bottom: .5rem;
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
}

section#defi-integration .vertical-timeline .vertical-timeline-element .vertical-timeline-element-content .content-text {
    color: #ccc;
    font-size: 15px;
    line-height: 1.3rem;
}

section#defi-integration .vertical-timeline .vertical-timeline-element .vertical-timeline-element-icon {
    display: flex;
    width: 70px;
    height: 70px;
    z-index: 2;
}

section#defi-integration .vertical-timeline .vertical-timeline-element .vertical-timeline-element-icon.element-icon-left {
    left: 48%;
}
section#defi-integration .vertical-timeline .vertical-timeline-element .vertical-timeline-element-icon.element-icon-right {
    left: 51%;
}
section#defi-integration .vertical-timeline .vertical-timeline-element .vertical-timeline-element-icon .icon-label {
    margin: auto;
    width: 50px;
    height: 50px;
    text-align: center;
    align-items: center;
    padding-top: .2em;
    border-radius: 50%;
    background-color: rgb(136,211,232);
    color: black;
    font-weight: 500;
    font-size: 1.6rem;
}

@media (max-width: 768px) {
    section#defi-integration .container .container-header {
        display: flex;
        justify-content: center;
        margin: auto;
    }
    section#defi-integration .vertical-timeline .vertical-timeline-element {
        display: flex;
        flex-direction: column;
    }

    section#defi-integration .vertical-timeline .vertical-timeline-element .vertical-timeline-element-content {
        width: 100%;
        padding-top: 5rem;
        padding-left: 0;
        margin-left: 0;;
    }

    section#defi-integration .vertical-timeline .vertical-timeline-element .vertical-timeline-element-icon {
        left: 35% !important;
    }

    section#defi-integration .container .container-header .btn {
        display: none;
    }
}