section#sponsorship {
    padding: 0;
    background-color: white;
}

section#sponsorship .sponsorshipSwiper .swiper-slide {
    margin: auto;
}
section#sponsorship .sponsorshipSwiper .swiper-slide img {
    max-height: 200px;
}